Django==5.1.5
mysqlclient==2.2.0
coverage==7.2.1
pytest-django==4.8.0  # Replacing django-nose (deprecated)
pytest==8.1.1  # Replacing nose (deprecated)
pylint==3.0.3
pylint-django==2.6.1 
pylint-plugin-utils==0.8
selenium==4.10.0
python-dotenv==1.0.1
